/* Variables */

:root {
    --primary-color: #E3CFCF;
}

/* Mobile */

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
}

main.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

img.main-image {
    object-fit: cover;
    width: 100%;
    max-height: 60%;
}

div.text-content-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

section.text-content {
    width: 92%;
}

h1.main-title {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: firaSansExtraLight;
    line-height: 130%;
}

p.main-paragraph {
    text-align: center;
    font-size: 16px;
    font-family: firaSansLight;
    line-height: 130%;
}

button.main-button {
    width: 108px;
    height: 46px;
    display: block;
    margin: auto;
    margin-top: 24px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 12px;
    font-family: firaSansMedium;
    transition: background-color 0.2s ease-in-out;
}

button.main-button:hover {
    background-color: rgba(0,0,0,0.16);
    cursor: pointer;
}

/* Fonts */

@font-face {
    font-family: firaSansExtraLight;
    src: url(./assets/fonts/FiraSans-ExtraLight.ttf);
}

@font-face {
    font-family: firaSansLight;
    src: url(./assets/fonts/FiraSans-Light.ttf);
}


@font-face {
    font-family: firaSansMedium;
    src: url(./assets/fonts/FiraSans-Medium.ttf);
}

/* Desktop */

@media screen and (min-width: 800px) {
    main.content-container {
        flex-direction: row;
    }

    img.main-image {
        height: 100%;
        max-height: none;
        width: auto;
        max-width: 50%;
        float: left;
        object-position: 87%;
    }

    section.text-content {
        width: 71%;
    }

    h1.main-title {
        font-size: 32px;
    }

    p.main-paragraph {
        font-size: 18px;
    }

    button.main-button {
        width: 168px;
        height: 50px;
        font-size: 14px;
    }
}